
@fontsize12:12px;
@fontsize13:13px;
@fontsize14:14px;
@fontsize15:15px;
@fontsize15:16px;
@fontsize15:18px;
@fontsize15:20px;
@fontsize15:20px;
@fontsize15:26px;
@fontsize15:28px;
@font-color:#333;
@light-gray: #ececec;
@red-color: #f10215;
@blue-light-font-color: #6c86d1;
@white-color: #FFF;
@black-color: #000;
@orange-color: #ff771b;
@orange-light-color: #ffa070;
@green-color: #81d155;
@blue-bg: #f10215;
@gray-btn-color: #9b9b9b;
@gray-strong-border: #999999;
@font-gray-color: #989898;
@font-black-color: #b3b3b3;
@header-gray-color: #666666;
@header-hover-color: #ffeee5;
@header-orange-color: #ff9933;
@header-gray-border-color: #e3e4e5;
@header-login-color: #961923;
@footer-list-border: #3d3d3d;
@footer-list-bg: #595957;
@footer-color: #828282;
@footer-title-color: #aaa;
@user-content-gray: #efefef;
@user-left-border: #e6e7e7;
@user-right-light-border: #e7e8e9;
@user-right-strong-border: #dedede;
@product-warning-bg: #fffae7;
@enquiry-border: #d8d8d8;
@enquiry-gray-light-bg: #f9f9f9;
@breadcrumb-bg: #e8e8e8;
@breadcrumb-inner-bg: #c2c2c2;
@breadcrumb-finish-color: #ff771c;
@breadcrumb-process-color: #d6d6d6;
@quoted-title-bg: #fff8dc;
@quoted-table-bg: #f9f9f9;
@quoted-person-font-color: #919191;
@quoted_price_light_border: #e1e1e1;
@quoted-blue-color: #4063c6;
@pop-bg: #f0f0f0;
@pop-remind-bg: #fffae7;
@pop-remind-border: #ffccaa;
@industry-find-bg: #fff8dc;
@cancel_btn_bg: #f0f0f0;
@user_slider_bg: #ebebeb;
@user_slider_item: #fbfbfb;
@user_slider_select: #fd9401;
@user-content-title-border: #d4d4d4;
@user-order-search-bg: #f5f4f4;
@user_btn_border: #dddddd;
@order-detail-bg: #f6f6f6;
@order-detail-border: #e0e0e0;
@order-product-bg: #fafafa;
@order-orange-status: #faa02d;
@pop_bg: rgba(0, 0, 0, 0.8);


html{@fontsize12;}
*,html,body{margin: 0;padding: 0}



*{

  margin: 0;padding: 0;
}
